
@{
    ViewBag.Title = "Index";
}
<<<<<<< HEAD
<h2>Welcome to the Pyramid Student Management System!</h2>
<div>
    @Html.ActionLink("Student Login", "Login", "StudentLogins") <br />
    @Html.ActionLink("Employee Login", "Index", "StaffPortal")
</div>

=======

<h2>Welcome to the Pyramid Student Management System!</h2>

<div>
    @Html.ActionLink("Student Login","Login", "StudentLogins")
</div>


>>>>>>> f846092320f2f0c2bf8fb561b4eba433f6726548
