
@{
    ViewBag.Title = "Index";
}
<h2>Welcome to the Pyramid Student Management System!</h2>


<table style="height: 196px; width: 516.778px; margin-left: auto; margin-right: auto;">
    <tbody>
        <tr>
            <td style="width: 124px;"><img src="https://images.pexels.com/photos/1438081/pexels-photo-1438081.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=350" alt="" width="375" height="250" /></td>
            <td style="width: 266.778px;"><img src="https://t4.ftcdn.net/jpg/00/01/73/49/240_F_1734975_EAYQaog4nfYZ5yLMNOum9W3vIohZ5S.jpg" alt="" width="375" height="250" /></td>
        </tr>
        <tr>
            <td style="width: 124px;">  <p style="text-align: center;"> @Html.ActionLink("Student Login", "Login", "StudentLogins", null, new { @class = "btn btn-primary btn-small" }) </p></td>
            <td style="width: 266.778px;"> <p style="text-align: center;"> @Html.ActionLink("Employee Login", "Login", "StaffLogins", null, new { @class = "btn btn-primary btn-small" }) </p></td>
        </tr>
    </tbody>
</table>


@*<div style="align-content">
    @Html.ActionLink("Student Login", "Login", "StudentLogins", null, new { @class = "btn btn-primary btn-small" })

</div>
<br />
<div style="vertical-align">
    @Html.ActionLink("Employee Login", "Login", "StaffLogins", null, new { @class = "btn btn-primary btn-small" })
</div>*@