
@model DBFirstEF_LMS.Models.StudentLogin

@{
    ViewBag.Title = "Login";
}


<h2>Student Login</h2>
<div class="body-content">

    @ViewBag.LoginSuccess
    <br /><br />
    @using (Html.BeginForm("Login", "StudentLogins", FormMethod.Post))


    {
        <table class="table-responsive">
            <tr>
                <td>
                    @Html.Label("Student ID: ")
                </td>
                <td>
                
                        <input type="text" name="studentID" id="studentID" />
                        

                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Password: ")
                </td>
                <td>
                    <input type="password" name="studentPass" id="studentPass" />
                </td>
            </tr>
        </table>


                <button type="submit" class="btn btn-primary">Login</button>

    }
    
        </div>