@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}


@{
    ViewBag.Title = "Index";
}
<div class="body-content">
    <h2>Student Portal</h2>




    <table>
        <tr>
            <td>
                @Html.ActionLink("View Classes", "ShowStudentClasses", "Students")

                @*<a href="@Url.Action("ShowStudentClasses","Students", new { id = Convert.ToInt32(@Session["sv_studentLogin"]) })">View Classes</a>*@

            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Calculate and View GPA", "ShowGPA", "Students")
            </td>
        </tr>
    </table>
</div>