@model DBFirstEF_LMS.Models.StaffLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<br /><br />
@using (Html.BeginForm("Login", "StaffLogins", FormMethod.Post))
{
    @Html.Label("Staff ID: ")
    <input type="text" name="staffID" id="staffID" />
    <br />
    @Html.Label("Password: ")
    <input type="password" name="staffPass" id="staffPass" />
    <br />
    <input type="submit" value="Login" />
}